/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 1344px) {
  /* 84em = 1344px */
  .hero {
    max-width: 1200px; /* 120rem */
  }

  .heading-primary {
    font-size: 44px; /* 4.4rem */
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 1200px) {
  /* 75em = 1200px */
  html {
    font-size: 56.25%; /* Keep % since it scales root */
  }

  .grid {
    column-gap: 48px; /* 4.8rem */
    row-gap: 64px; /* 6.4rem */
  }

  .heading-secondary {
    font-size: 36px; /* 3.6rem */
  }

  .heading-tertiary {
    font-size: 24px; /* 2.4rem */
  }

  .header {
    padding: 0 32px; /* 3.2rem */
  }

  .main-nav-list {
    gap: 32px; /* 3.2rem */
  }

  .hero {
    gap: 48px; /* 4.8rem */
  }

  .testimonials-container {
    padding: 96px 32px; /* 9.6rem 3.2rem */
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 944px) {
  html {
    font-size: 50%; /* Keep % for scaling */
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 80px; /* 8rem */
    gap: 64px; /* 6.4rem */
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 32px;
  }

  .logos img {
    height: 24px;
  }

  .step-number {
    font-size: 74px;
  }

  .meal-content {
    padding: 24px 32px 32px 32px; /* 2.4rem 3.2rem 3.2rem 3.2rem */
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 12px; /* 1.2rem */
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 20px;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 9999;
  }
  .main-nav {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 240);
    display: block;
    transition: all 0.1s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .btn-mobile-nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10000; /* above overlay */
    background: none;
    border: none;
    cursor: pointer;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 704px) {
  /* 44em = 704px */
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 48px; /* 4.8rem */
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 32px; /* 3.2rem */
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 544px) {
  /* 34em = 544px */
  .grid {
    row-gap: 48px; /* 4.8rem */
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 24px 16px; /* 2.4rem 1.6rem */
  }

  .section-hero {
    padding: 24px 0 64px 0; /* 2.4rem 0 6.4rem 0 */
  }

  .hero {
    padding: 0 32px; /* 3.2rem */
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 12px; /* 1.2rem */
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(24px); /* 2.4rem */
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px; /* 1.2rem */
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 32px; /* 3.2rem */
  }

  .cta-img-box {
    height: 320px; /* 32rem */
    grid-row: 1;
  }
}
